* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;

}

.content {
  margin: 10px auto;
  width: 400px;
  color: #fff;
}
.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: #F2F2F2;
}

.name {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-style: 90%;
}

.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: #CEECF5;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}
.card-container {
  padding: 30px;
  background: #CEECF5;
}

.name-card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  background: #fff;
}
